# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.env

# files to ignore
data/encounter.csv
data/current_location_old.csv
data/World_EEZ_v11_20191118
data/lists-Reefers-2022-11-11_04-40.csv
data/lists-Reefers-2023-03-03_06-54.csv
data/loitering.csv
data/port.csv
data/shapefiles_for_all_nato_countries.RDS
.DS_Store